In [9]:
#Import the libraries needed
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
#Read Lottery csv
powerBall = pd.read_csv('./Lottery_Powerball_Winning_Numbers__Beginning_2010.csv', parse_dates=['Draw Date'])

In [15]:
#check result
powerBall

      Draw Date    Winning Numbers  Multiplier
0    2020-09-26  11 21 27 36 62 24         3.0
1    2020-09-30  14 18 36 49 67 18         2.0
2    2020-10-03  18 31 36 43 47 20         2.0
3    2020-10-07  06 24 30 53 56 19         2.0
4    2020-10-10  05 18 23 40 50 18         3.0
...         ...                ...         ...
1424 2023-01-30  01 04 12 36 49 05         2.0
1425 2023-02-01  31 43 58 59 66 09         2.0
1426 2023-02-04  02 08 15 19 58 10         2.0
1427 2023-02-06  05 11 22 23 69 07         2.0
1428 2023-02-08  52 58 59 64 66 09         2.0

[1429 rows x 3 columns]

In [25]:
# Convert Winning Numbers to individual columns
powerBall[['num1', 'num2','num3', 'num4','num5', 'num6']] = powerBall['Winning Numbers'].str.split(' ', expand=True)
powerBall

      Draw Date    Winning Numbers  Multiplier num1 num2 num3 num4 num5 num6
0    2020-09-26  11 21 27 36 62 24         3.0   11   21   27   36   62   24
1    2020-09-30  14 18 36 49 67 18         2.0   14   18   36   49   67   18
2    2020-10-03  18 31 36 43 47 20         2.0   18   31   36   43   47   20
3    2020-10-07  06 24 30 53 56 19         2.0   06   24   30   53   56   19
4    2020-10-10  05 18 23 40 50 18         3.0   05   18   23   40   50   18
...         ...                ...         ...  ...  ...  ...  ...  ...  ...
1424 2023-01-30  01 04 12 36 49 05         2.0   01   04   12   36   49   05
1425 2023-02-01  31 43 58 59 66 09         2.0   31   43   58   59   66   09
1426 2023-02-04  02 08 15 19 58 10         2.0   02   08   15   19   58   10
1427 2023-02-06  05 11 22 23 69 07         2.0   05   11   22   23   69   07
1428 2023-02-08  52 58 59 64 66 09         2.0   52   58   59   64   66   09

[1429 rows x 9 columns]

In [39]:
# Cast the number columns as type integer
powerBall = powerBall.astype({
    'num1': 'Int64',
    'num2': 'Int64',
    'num3': 'Int64',
    'num4': 'Int64',
    'num5': 'Int64',
    'num6': 'Int64',
})
powerBall.dtypes

Draw Date          datetime64[ns]
Winning Numbers            object
Multiplier                float64
num1                        Int64
num2                        Int64
num3                        Int64
num4                        Int64
num5                        Int64
num6                        Int64
dtype: object

In [ ]:
# Most common numbers on a given Day

In [ ]:
# Most common Multiplier by year / month

In [ ]:
# Most common numbers by Year / month