In [9]:
#Import the libraries needed
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Read Lottery csv
powerBall = pd.read_csv('./Lottery_Powerball_Winning_Numbers__Beginning_2010.csv')

In [12]:
#check result
powerBall

       Draw Date    Winning Numbers  Multiplier
0     09/26/2020  11 21 27 36 62 24         3.0
1     09/30/2020  14 18 36 49 67 18         2.0
2     10/03/2020  18 31 36 43 47 20         2.0
3     10/07/2020  06 24 30 53 56 19         2.0
4     10/10/2020  05 18 23 40 50 18         3.0
...          ...                ...         ...
1424  01/30/2023  01 04 12 36 49 05         2.0
1425  02/01/2023  31 43 58 59 66 09         2.0
1426  02/04/2023  02 08 15 19 58 10         2.0
1427  02/06/2023  05 11 22 23 69 07         2.0
1428  02/08/2023  52 58 59 64 66 09         2.0

[1429 rows x 3 columns]

In [ ]:
# Convert Date time

In [ ]:
# Convert Winning Numbers to individual columns?

In [ ]:
# Most common numbers on a given Day

In [ ]:
# Most common Multiplier by year / month

In [ ]:
# Most common numbers by Year / month